/ElasticsearchNet_01/bin
/ElasticsearchNet_01/obj
/Integration.LuceneNet/bin
/Integration.LuceneNet/obj
/Integration.LuceneNet.Sample/bin
/Integration.LuceneNet.Sample/obj
/JieBaLucene/obj
/JieBaLucene/bin
/PanGuLucene/*
